<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
    <div class="wrap">
        <div class="skip">
            <a href="#container">본문바로가기</a>
        </div>

        <div id="container" class="container main">
            <div class="content">
                <div class="content_inner">
                    <!-- <div class="tit_main">
                        <p class="slogan">투명한 정보만 취급하는 부동산<br><span class="fwb">신현재 부동산</span></p>
                        <p class="slogan_en">SWC SWC SWC SWC SWC SWC </p>
                    </div> -->
                    <div class="swiper-mainb">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide"><img src="../image/img_mainBanner.jpg" alt="이미지1"></li>
                            <li class="swiper-slide"><img src="../image/bg_main.png" alt="이미지2"></li>
<!--                            <li class="swiper-slide"><img src="../image/temp_img2.jpg" alt="이미지3"></li>-->
                        </ul>
                        <div class="swiper-pagination"></div>

                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                    </div>
                    <script>
                        const swiper2 = new Swiper('.swiper-mainb', {
                            // Optional parameters
                            loop: true,
                            // If we need pagination
                            pagination: {
                                el: '.swiper-pagination',
                            },
                            // Navigation arrows
                            navigation: {
                                nextEl: '.swiper-button-next',
                                prevEl: '.swiper-button-prev',
                            },
                            // And if we need scrollbar
                            // scrollbar: {
                            //     el: '.swiper-scrollbar',
                            // },
                        });
                    </script>
                    <div class="box_main" style="display: none;">
                        <ul class="quick_menu">
                            <li><a href="#">스크린골프</a></li>
                            <li><a href="#">골프연습장</a></li>
                            <li><a href="#">매도.매수문의</a></li>
                            <li><a href="#">골프장직거래</a></li>
                        </ul>
                        <!-- <ul class="quick_menu2">
                            <li><a href="#">최신 분양정보 바로가기</a></li>
                            <li><a href="#">HOT한 매물정보 보러가기</a></li>
                            <li><a href="#">My 즐겨찾기 바로가기</a></li>
                        </ul> -->
                    </div>

                    <div class="box_noti" style="display:none;">
                        <div class="tab_main">
                            <ul>
                                <li class="on"><a href="#">공지사항</a></li>
                                <!-- <li><a href="#">부동산뉴스</a></li> -->
                            </ul>
                            <a href="#" class="more">더보기</a>
                        </div>
                        <div class="tab_main_cnt">
                            <div class="tab_cnt01">
                                <ul class="noti">
                                    <li>
                                        <a href="#">
                                            <span class="tit">신현재 부동산 오픈</span>
                                            <span class="cnt">dasda신현재 부동산 오픈sdasd asdasd asda신현재 부동산
                                                오픈sdasdasdas</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="tit">오픈이벤트 참여하세요</span>
                                            <span class="cnt">dasda신현재 부동산 오픈sdasd asdasd asda신현재 부동산
                                                오픈sdasdasdas</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="tit">SWC 신입사원 모집</span>
                                            <span class="cnt">dasda신현재 부동산 오픈sdasd asdasd asda신현재 부동산
                                                오픈sdasdasdas</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab_cnt02">
                                <ul class="noti">
                                    <li>
                                        <a href="#">
                                            <span class="tit">TitleTitle</span>
                                            <span
                                                    class="cnt">contentcontentcontentcontentcontentcontentcontentcontent</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="tit">TitleTitle</span>
                                            <span
                                                    class="cnt">contentcontentcontentcontentcontentcontentcontentcontent</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="tit">TitleTitle</span>
                                            <span
                                                    class="cnt">contentcontentcontentcontentcontentcontentcontentcontent</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <section id="sh_section">
                        <article class="saleList" id="sale_rcmd">
                            <div class="inner">
                                <ul class="item_list">

                                    <li>
                                        <a href="#" class="exPopBtn">
                                            <div class="img"
                                                 style='background-image: url(../image/temp_img2.jpg)'>
                                                <div class="state_wrap">
                                                    <img src="../image/img_smallLogo1.png" alt="">
                                                    <img src="../image/img_quick.png" alt="">
                                                </div>
                                                <div class="sold">[수원]<br>텍스트입력</div>
                                            </div>
                                            <ul class="info2">
                                                <li><p>보증금</p><p>5천만원</p></li>
                                                <li><p>임대료</p><p>400</p></li>
                                                <li><p>관리비</p><p>150</p></li>
                                                <li><p>권리금</p><p>3억</p></li>
                                            </ul>
                                        </a>
                                    </li>

<!--                                    <li>-->
<!--                                        <a href="#" class="exPopBtn">-->
<!--                                            <div class="img"-->
<!--                                                 style='background-image: url(../image/temp_img3.jpg)'>-->
<!--                                                <div class="state_wrap">-->
<!--                                                    <img src="http://play-golf.co.kr/wp-content/uploads/2018/11/f.png" alt="">-->
<!--                                                </div>-->
<!--                                                <div class="sold">[수원]<br>텍스트입력</div>-->
<!--                                            </div>-->
<!--                                            <ul class="info2">-->
<!--                                                <li><p>보증금</p><p>5천만원</p></li>-->
<!--                                                <li><p>임대료</p><p>400</p></li>-->
<!--                                                <li><p>관리비</p><p>150</p></li>-->
<!--                                                <li><p>권리금</p><p>3억</p></li>-->
<!--                                            </ul>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="#" class="exPopBtn">-->
<!--                                            <div class="img"-->
<!--                                                 style='background-image:url(../image/temp_img2.jpg)'>-->
<!--                                                <div class="state_wrap">-->
<!--                                                    <img src="http://play-golf.co.kr/wp-content/uploads/2018/11/f.png" alt="">-->
<!--                                                </div>-->
<!--                                                <div class="sold">[수원]<br>텍스트입력</div>-->
<!--                                            </div>-->
<!--                                            <ul class="info2">-->
<!--                                                <li><p>보증금</p><p>5천만원</p></li>-->
<!--                                                <li><p>임대료</p><p>400</p></li>-->
<!--                                                <li><p>관리비</p><p>150</p></li>-->
<!--                                                <li><p>권리금</p><p>3억</p></li>-->
<!--                                            </ul>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="#" class="exPopBtn">-->
<!--                                            <div class="img"-->
<!--                                                 style='background-image:url(../image/temp_img3.jpg)'>-->
<!--                                                <div class="state_wrap">-->
<!--                                                    <img src="http://play-golf.co.kr/wp-content/uploads/2018/11/u.png" alt="">-->
<!--                                                </div>-->
<!--                                                <div class="sold">[수원]<br>텍스트입력</div>-->
<!--                                            </div>-->
<!--                                            <ul class="info2">-->
<!--                                                <li><p>보증금</p><p>5천만원</p></li>-->
<!--                                                <li><p>임대료</p><p>400</p></li>-->
<!--                                                <li><p>관리비</p><p>150</p></li>-->
<!--                                                <li><p>권리금</p><p>3억</p></li>-->
<!--                                            </ul>-->
<!--                                        </a>-->
<!--                                    </li>-->
                                </ul>

                                <ul class="item_list">
                                    <li>
                                        <a href="javascript:land_view(99)">
                                            <div class="img"
                                                 style='background-image:url(../image/temp_img2.jpg)'>
                                                <div class="state_wrap">
                                                    <img src="http://play-golf.co.kr/wp-content/uploads/2018/11/u.png" alt="">
                                                </div>
                                                <div class="sold">[수원]<br>텍스트입력</div>
                                            </div>
                                            <ul class="info2">
                                                <li><p>보증금</p><p>5천만원</p></li>
                                                <li><p>임대료</p><p>400</p></li>
                                                <li><p>관리비</p><p>150</p></li>
                                                <li><p>권리금</p><p>3억</p></li>
                                            </ul>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:land_view(94)">
                                            <div class="img"
                                                 style='background-image:url(../image/temp_img3.jpg)'>
                                                <div class="state_wrap">
                                                    <img src="http://play-golf.co.kr/wp-content/uploads/2018/11/u.png" alt="">
                                                </div>
                                                <div class="sold">[수원]<br>텍스트입력</div>
                                            </div>
                                            <ul class="info2">
                                                <li><p>보증금</p><p>5천만원</p></li>
                                                <li><p>임대료</p><p>400</p></li>
                                                <li><p>관리비</p><p>150</p></li>
                                                <li><p>권리금</p><p>3억</p></li>
                                            </ul>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:land_view(92)">
                                            <div class="img"
                                                 style='background-image:url(../image/temp_img2.jpg)'>
                                                <div class="state_wrap">
                                                    <img src="http://play-golf.co.kr/wp-content/uploads/2018/11/u.png" alt="">
                                                </div>
                                                <div class="sold">[수원]<br>텍스트입력</div>
                                            </div>
                                            <ul class="info2">
                                                <li><p>보증금</p><p>5천만원</p></li>
                                                <li><p>임대료</p><p>400</p></li>
                                                <li><p>관리비</p><p>150</p></li>
                                                <li><p>권리금</p><p>3억</p></li>
                                            </ul>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:land_view(90)">
                                            <div class="img"
                                                 style='background-image:url(../image/temp_img3.jpg)'>
                                                <div class="state_wrap">
                                                    <img src="http://play-golf.co.kr/wp-content/uploads/2018/11/u.png" alt="">
                                                </div>
                                                <div class="sold">[수원]<br>텍스트입력</div>
                                            </div>
                                            <ul class="info2">
                                                <li><p>보증금</p><p>5천만원</p></li>
                                                <li><p>임대료</p><p>400</p></li>
                                                <li><p>관리비</p><p>150</p></li>
                                                <li><p>권리금</p><p>3억</p></li>
                                            </ul>
                                        </a>
                                    </li>
                                </ul>
                                <button class="more_btn" onClick="more('rcmd',4,5)">더보기</button>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
            <a href="#" class="btn_top">TOP</a>
        </div>

        <div class="popup" id="exPop">
            <div class="pop_header">
                <h2>추천매물 - 매물01</h2>
                <button class="btn_close">닫기</button>
            </div>
            <div class="pop_cont" id="landView">
                <div class="inner">
                    <!-- scr_area [s] -->
                    <div class="scr_area">
                        <!-- 이미지/타이틀 [s] -->
                        <div class="top_info">
                            <div class="landImg">
                                <div class="badge_wrap">
                                    <span class="badge black">추천</span> <span class="badge black">급매물</span> <span
                                        class="badge">리모델링</span>
                                </div>
                                <div class="swiper-main">
                                    <ul class="swiper-wrapper">
                                        <li class="swiper-slide"><img src="../image/temp_img2.jpg"
                                                                      alt="송내 로데오 상가 이미지1"></li>
                                        <li class="swiper-slide"><img src="../image/temp_img3.jpg"
                                                                      alt="송내 로데오 상가 이미지2"></li>
                                        <li class="swiper-slide"><img src="../image/temp_img3.jpg"
                                                                      alt="송내 로데오 상가 이미지2"></li>
                                    </ul>
                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                    <!-- <div class="swiper-scrollbar"></div> -->
                                </div>

                            </div>
                            <div class="titles">
                                <dl class="dl_info">
                                    <dt class="open">수원 7 ROOM </dt>
                                    <dd>
                                        <ul class="info_list">
                                            <li class="add"><span>소재지</span>경기 부천시 송내동 303-5 2층</li>
                                            <li><span>매물번호</span>10099</li>
                                            <li><span>매물구분</span>상가</li>
                                            <li><span>계약상태</span>계약가능</li>
                                            <li><span>해당층/총층</span>7층/지하1층</li>
                                            <li><span>공급면적</span>717㎡(217평)</li>
                                        </ul>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!-- 이미지/타이틀 [e] -->
                        <!-- 매물정보 [s] -->
                        <dl class="dl_info">
                            <dt class="open">매물정보</dt>
                            <dd>
                                <ul class="info_list">
                                    <li class="add">매물정보 텍스트 매물정보 텍스트 매물정보 텍스트 매물정보 텍스매물정보 텍스트 매물정보 텍스트 매물정보 텍스트 매물정보 텍스매물정보 텍스트 매물정보 텍스트 매물정보 텍스트 매물정보 텍스매물정보 텍스트 매물정보 텍스트 매물정보 텍스트 매물정보 텍스트 매물정보 텍스트 매물정보 텍스트 매물정보 텍스트 매물정보 텍스트 매물정보 텍스트 </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <!-- scr_area [e] -->
                </div>
            </div>
            <div class="pop_footer full">
                <button class="btn_cm mint">문의하기</button>
                <button class="btn_cm">고객센터(1588-1588)</button>
            </div>
        </div>
        <div class="dim"></div>
        <script>

            const swiper = new Swiper('.swiper-main', {
                // Optional parameters
                loop: true,

                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                    type: "progressbar",
                },

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },

                // And if we need scrollbar
                // scrollbar: {
                //     el: '.swiper-scrollbar',
                // },
            });
        </script>
    </div>
</th:block>
</html>