<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            // 금액 포매터 적용
            formatPrice();
        });

        // 상세 팝업 호출
        function fn_sendBuldDetail(buldNo) {
            var sendParam = {
                buldNo : buldNo
            };
            $.ajax({
                url: "/main/selectMainBuldDetail.do",
                type: "POST",
                data: sendParam
            })
            .done(function (data) {
                $("#exPop").replaceWith(data);
            })
            .always(function() {
                fn_callImport();
            })
        }

        // ajax 후 다시 세팅
        function fn_callImport() {
            var $exPop = $("#exPop");
            $exPop.addClass("on");

            var $popClose = $(".btn_close");
            $popClose.click(function (e) {
                e.preventDefault();
                $exPop.removeClass("on");
            });

            var $exAlertBtn = $(".exAlertBtn");
            var $alertBox = $("#alertBox");
            var $exAlertClose = $(".alert .btn_cm");
            var $popBtnCm = $('.pop_footer.full .btn_cm');

            $popBtnCm.click(function (e) {
                // openAlertModal("해당 매물번호에 대하여 아래 번호로 문의주시면 감사하겠습니다. \n\n 010-4455-2690 \n\n 031-546-3535");

                if(e.target.id == 'inquiryTelNo1') {
                    document.location.href = 'tel:010-4455-2690';
                } else if(e.target.id == 'inquiryTelNo2') {
                    document.location.href = 'tel:031-546-3535';
                }
            });
            $exAlertBtn.click(function (e) {
                e.preventDefault();
                $alertBox.addClass("on");
            });
            $exAlertClose.click(function (e) {
                e.preventDefault();
                $alertBox.removeClass("on");
            });

            const swiper = new Swiper('.swiper-main', {
                // Optional parameters
                loop: true,

                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                    type: "progressbar",
                },

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
            });

            // 금액 포매터 적용
            formatPrice();
        }

        function formatPrice() {
            var priceComponents = document.getElementsByName('priceFormat');
            for(var priceComponent of priceComponents) {
                if(priceComponent.tagName.toUpperCase() != 'UL')
                    break;

                var lis = priceComponent.children;
                for(var li of lis) {
                    var price = li.children[1].innerHTML;
                    li.children[1].innerHTML = priceWonUnitFormatter(price);
                }
            }
        }
    </script>

    <style>
        .item_list li a .tit {
            padding: 15px 20px 20px;
        }
        .item_list li a .tit .desc {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px !important;
            font-weight: bold;
            text-align: center;
        }
    </style>

    <div class="wrap">
        <div class="skip">
            <a href="#container">본문바로가기</a>
        </div>

        <div id="container" class="container main">
            <div class="content">
                <div class="content_inner">
                    <!-- <div class="tit_main">
                        <p class="slogan">투명한 정보만 취급하는 부동산<br><span class="fwb">신현재 부동산</span></p>
                        <p class="slogan_en">SWC SWC SWC SWC SWC SWC </p>
                    </div> -->
                    <div class="swiper-mainb">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide"><img src="../image/img_mainBanner.png" alt="이미지1"></li>
                            <li class="swiper-slide"><img src="../image/img_mainBanner2.png" alt="이미지2"></li>
                        </ul>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <script>
                        const swiper2 = new Swiper('.swiper-mainb', {
                            // Optional parameters
                            loop: true,
                            autoplay: true,
                            // If we need pagination
                            pagination: {
                                el: '.swiper-pagination',
                            },
                            // Navigation arrows
                            navigation: {
                                nextEl: '.swiper-button-next',
                                prevEl: '.swiper-button-prev',
                            },
                            // And if we need scrollbar
                            // scrollbar: {
                            //     el: '.swiper-scrollbar',
                            // },
                        });
                    </script>

                    <!-- 20230331 잠시 주석 -->
                    <div class="swiper-mainb" style="margin-top: 20px; display: none;">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <img src="../image/img_mainBanner.png"/>
                            </li>
                        </ul>
                    </div>
                    <!-- 20230331 잠시 주석 -->

<!--                    <div class="box_main" style="display: none;">-->
<!--                        <ul class="quick_menu">-->
<!--                            <li><a href="#">스크린골프</a></li>-->
<!--                            <li><a href="#">골프연습장</a></li>-->
<!--                            <li><a href="#">매도.매수문의</a></li>-->
<!--                            <li><a href="#">골프장직거래</a></li>-->
<!--                        </ul>-->
                        <!-- <ul class="quick_menu2">
                            <li><a href="#">최신 분양정보 바로가기</a></li>
                            <li><a href="#">HOT한 매물정보 보러가기</a></li>
                            <li><a href="#">My 즐겨찾기 바로가기</a></li>
                        </ul> -->
<!--                    </div>-->

                    <div class="box_noti" style="display:none;">
                        <div class="tab_main">
                            <ul>
                                <li class="on"><a href="#">공지사항</a></li>
                                <!-- <li><a href="#">부동산뉴스</a></li> -->
                            </ul>
                            <a href="#" class="more">더보기</a>
                        </div>
                        <div class="tab_main_cnt">
                            <div class="tab_cnt01">
                                <ul class="noti">
                                    <li>
                                        <a href="#">
                                            <span class="tit">신현재 부동산 오픈</span>
                                            <span class="cnt">dasda신현재 부동산 오픈sdasd asdasd asda신현재 부동산
                                                오픈sdasdasdas</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="tit">오픈이벤트 참여하세요</span>
                                            <span class="cnt">dasda신현재 부동산 오픈sdasd asdasd asda신현재 부동산
                                                오픈sdasdasdas</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="tit">SWC 신입사원 모집</span>
                                            <span class="cnt">dasda신현재 부동산 오픈sdasd asdasd asda신현재 부동산
                                                오픈sdasdasdas</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab_cnt02">
                                <ul class="noti">
                                    <li>
                                        <a href="#">
                                            <span class="tit">TitleTitle</span>
                                            <span
                                                    class="cnt">contentcontentcontentcontentcontentcontentcontentcontent</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="tit">TitleTitle</span>
                                            <span
                                                    class="cnt">contentcontentcontentcontentcontentcontentcontentcontent</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="tit">TitleTitle</span>
                                            <span
                                                    class="cnt">contentcontentcontentcontentcontentcontentcontentcontent</span>
                                            <span class="cal">2020-12-30</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 1.메인 리스트 출력 -->
                    <section id="sh_section">
                        <article class="saleList" id="sale_rcmd">
                            <div class="inner">
                                <ul class="item_list">
                                    <li th:each="buld, buldListStat : ${buldList}" th:if="${buldListStat.count lt 5}">
                                        <a href="#" th:attr="onclick=|fn_sendBuldDetail('${buld.buldNo}')|">
                                            <div th:class="img"
                                                 th:style="${buld.atchFiles == null or #lists.size(buld.atchFiles) == 0} ? '' : 'background-image: url(/file/image/'+${buld.atchFiles[0].atchFileId}+')'">
                                                <p th:if="${buld.atchFiles == null or #lists.size(buld.atchFiles) == 0}" class="noImgTxt">
                                                    이미지 준비 중입니다.
                                                </p>

                                                <div class="state_wrap" th:switch="${buld.logoTy}">
                                                    <img th:case="1" src="../image/img_smallLogo1.png" alt="">
                                                    <img th:case="2" src="../image/img_smallLogo2.png" alt="">
                                                    <img th:case="3" src="../image/img_smallLogo3.png" alt="">
                                                    <img th:case="5" src="../image/img_smallLogo5.png" alt="">
                                                    <img th:if="${buld.emrgncySaleYn == 'Y'}" src="../image/img_quick.png" alt="">
                                                </div>
                                                <div th:if="${buld.cntrctSttusSeCd == 'A00006'}" class="sold">[[${buld.cntrctSttusSeNm}]]</div>
                                                <div th:if="${buld.cntrctSttusSeCd != 'A00006'}" class="notSold"></div>
<!--                                                <div class="sold"> &#91;[[${buld.cntrctSttusSeNm}]]&#93; <br> [[${buld.reprsntWords}]] </div>-->
                                            </div>

                                            <div class="tit">
                                                <p class="desc" th:text="${buld.buldNm}"></p>
                                                <p class="desc" th:text="${buld.reprsntWords}"></p>
                                            </div>

                                            <ul class="info2" name="priceFormat">
                                                <li>
                                                    <p>보증금</p>
<!--                                                    <p>[[${#numbers.formatInteger(buld.gtn, 0, 'COMMA') + ''}]]</p>-->
                                                    <p th:if="${not #strings.isEmpty(buld.gtn)}" th:text="${buld.gtn}"></p>
                                                    <p th:if="${#strings.isEmpty(buld.gtn)}">-</p>
                                                </li>

                                                <li>
                                                    <p>임대료</p>
<!--                                                    <p th:text="${#numbers.formatInteger(buld.rntchrg, 0, 'COMMA') + ''}"></p>-->
                                                    <p th:if="${not #strings.isEmpty(buld.rntchrg)}" th:text="${buld.rntchrg}"></p>
                                                    <p th:if="${#strings.isEmpty(buld.rntchrg)}">-</p>
                                                </li>
<!--                                                <li>-->
<!--                                                    <p>관리비</p>-->
<!--                                                    <p th:if="${not #strings.isEmpty(buld.managect)}" th:text="${buld.managect}"></p>-->
<!--                                                    <p th:if="${#strings.isEmpty(buld.managect)}">-</p>-->
<!--                                                </li>-->
                                                <li>
                                                    <p class="pRed">권리금</p>
                                                    <p th:class="pRed" th:if="${not #strings.isEmpty(buld.premum)}" th:text="${buld.premum}"></p>
                                                    <p th:if="${#strings.isEmpty(buld.premum)}">-</p>
                                                </li>
                                            </ul>
                                        </a>
                                    </li>
                                </ul>

                                <ul class="item_list">
                                    <li th:each="buld, buldListStat : ${buldList}" th:if="${buldListStat.count ge 5} and ${buldListStat.count lt 9}">
                                        <a href="#" th:attr="onclick=|fn_sendBuldDetail('${buld.buldNo}')|">
                                            <div class="img"
                                                 th:style="${buld.atchFiles == null or #lists.size(buld.atchFiles) == 0} ? '' : 'background-image: url(/file/image/'+${buld.atchFiles[0].atchFileId}+')'">
                                                <p th:if="${buld.atchFiles == null or #lists.size(buld.atchFiles) == 0}" class="noImgTxt">
                                                    이미지 준비 중입니다.
                                                </p>

                                                <div class="state_wrap" th:switch="${buld.logoTy}">
                                                    <img th:case="1" src="../image/img_smallLogo1.png" alt="">
                                                    <img th:case="2" src="../image/img_smallLogo2.png" alt="">
                                                    <img th:case="3" src="../image/img_smallLogo3.png" alt="">
                                                    <img th:case="5" src="../image/img_smallLogo5.png" alt="">
                                                    <img th:if="${buld.emrgncySaleYn == 'Y'}" src="../image/img_quick.png" alt="">
                                                </div>
                                                <div th:if="${buld.cntrctSttusSeCd == 'A00006'}" class="sold">[[${buld.cntrctSttusSeNm}]]</div>
                                                <div th:if="${buld.cntrctSttusSeCd != 'A00006'}" class="notSold"></div>
                                            </div>

                                            <div class="tit">
                                                <p class="desc" th:text="${buld.buldNm}"></p>
                                                <p class="desc" th:text="${buld.reprsntWords}"></p>
                                            </div>

                                            <ul class="info2" name="priceFormat">
                                                <li>
                                                    <p>보증금</p>
                                                    <p th:if="${not #strings.isEmpty(buld.gtn)}" th:text="${buld.gtn}"></p>
                                                    <p th:if="${#strings.isEmpty(buld.gtn)}">-</p>
                                                </li>

                                                <li>
                                                    <p>임대료</p>
                                                    <p th:if="${not #strings.isEmpty(buld.rntchrg)}" th:text="${buld.rntchrg}"></p>
                                                    <p th:if="${#strings.isEmpty(buld.rntchrg)}">-</p>
                                                </li>
<!--                                                <li>-->
<!--                                                    <p>관리비</p>-->
<!--                                                    <p th:if="${not #strings.isEmpty(buld.managect)}" th:text="${buld.managect}"></p>-->
<!--                                                    <p th:if="${#strings.isEmpty(buld.managect)}">-</p>-->
<!--                                                </li>-->
                                                <li>
                                                    <p class="pRed">권리금</p>
                                                    <p th:class="pRed" th:if="${not #strings.isEmpty(buld.premum)}" th:text="${buld.premum}"></p>
                                                    <p th:if="${#strings.isEmpty(buld.premum)}">-</p>
                                                </li>
                                            </ul>
                                        </a>
                                    </li>
                                </ul>

                                <ul class="item_list" style="display:none;">
                                    <li>
                                        <a href="#" class="exPopBtn">
<!--                                        <a href="javascript:land_view(99)">-->
                                            <div class="img"
                                                 style='background-image:url(../image/temp_img2.jpg)'>
                                                <div class="state_wrap">
                                                    <img src="http://play-golf.co.kr/wp-content/uploads/2018/11/u.png" alt="">
                                                </div>
                                                <div class="sold">[수원99]<br>텍스트입력</div>
                                            </div>
                                            <ul class="info2">
                                                <li><p>보증금</p><p>5천만원</p></li>
                                                <li><p>임대료</p><p>400</p></li>
                                                <li><p>관리비</p><p>150</p></li>
                                                <li><p>권리금</p><p>3억</p></li>
                                            </ul>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:land_view(94)">
                                            <div class="img"
                                                 style='background-image:url(../image/temp_img3.jpg)'>
                                                <div class="state_wrap">
                                                    <img src="http://play-golf.co.kr/wp-content/uploads/2018/11/u.png" alt="">
                                                </div>
                                                <div class="sold">[수원]<br>텍스트입력</div>
                                            </div>
                                            <ul class="info2">
                                                <li><p>보증금</p><p>5천만원</p></li>
                                                <li><p>임대료</p><p>400</p></li>
                                                <li><p>관리비</p><p>150</p></li>
                                                <li><p>권리금</p><p>3억</p></li>
                                            </ul>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:land_view(92)">
                                            <div class="img"
                                                 style='background-image:url(../image/temp_img2.jpg)'>
                                                <div class="state_wrap">
                                                    <img src="http://play-golf.co.kr/wp-content/uploads/2018/11/u.png" alt="">
                                                </div>
                                                <div class="sold">[수원]<br>텍스트입력</div>
                                            </div>
                                            <ul class="info2">
                                                <li><p>보증금</p><p>5천만원</p></li>
                                                <li><p>임대료</p><p>400</p></li>
                                                <li><p>관리비</p><p>150</p></li>
                                                <li><p>권리금</p><p>3억</p></li>
                                            </ul>
                                        </a>
                                    </li>
                                </ul>

                                <a th:href="@{/buld/selectBuldList.do}">
                                    <button class="more_btn">더보기</button>
                                </a>
<!--                                <button class="more_btn" onClick="more('rcmd',4,5)">더보기</button>-->
                            </div>
                        </article>
                    </section>
                </div>
            </div>
            <a href="#" class="btn_call">CALL</a>
            <a href="#" class="btn_top">TOP</a>
        </div>

        <!-- 2.상세팝업 -->
        <div class="popup" id="exPop">
            <div class="pop_header">
                <h2>매물 상세</h2>
                <button class="btn_close">닫기</button>
            </div>
            <div class="pop_cont" id="landView">
                <div class="inner">
                    <!-- scr_area [s] -->
                    <div class="scr_area">
                        <!-- 이미지/타이틀 [s] -->
                        <div class="top_info">
                            <div class="landImg">
                                <div class="badge_wrap">
<!--                                    <span class="badge black">추천</span>-->
<!--                                    <span class="badge black">급매물</span>-->
<!--                                    <span class="badge">리모델링</span>-->
                                </div>
                                <div class="swiper-main">
                                    <ul class="swiper-wrapper">
                                        <li class="swiper-slide" th:if="${buldDetail != null} and ${buldDetail.atchFiles != null and #lists.size(buldDetail.atchFiles) != 0}"
                                            th:each="atchFile : ${buldDetail.atchFiles}">
                                            <img th:src="|/file/image/${atchFile.atchFileId}|" height="325"/>
                                        </li>
                                    </ul>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                    <!-- <div class="swiper-scrollbar"></div> -->
                                </div>

                            </div>
                            <div class="titles">
                                <dl class="dl_info">
                                    <dt class="open">
                                        <li style="display: contents" th:switch="${buldDetail.logoTy}">
                                            <img th:case="1" src="../image/img_smallLogo1.png" alt="" style="width: 40px; height: 40px;">
                                            <img th:case="2" src="../image/img_smallLogo2.png" alt="" style="width: 40px; height: 40px;">
                                            <img th:case="3" src="../image/img_smallLogo3.png" alt="" style="width: 40px; height: 40px;">
                                            <img th:case="5" src="../image/img_smallLogo5.png" alt="" style="width: 40px; height: 40px;">
                                        </li >
                                        <li id="buldNm" th:text="${buldDetail.buldNm}" style="display: contents"></li>
                                    </dt>
                                    <dd>
                                        <ul class="info_list" name="priceFormat">
                                            <li class="add">
                                                <span>총 창업비용</span>
                                                <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.gtn) or not #strings.isEmpty(buldDetail.premum)}" th:text="${buldDetail.gtn}+${buldDetail.premum}"></span>
                                                <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.gtn) and #strings.isEmpty(buldDetail.premum)}">-</span>
                                            </li>
                                            <li>
                                                <span>보증금</span>
                                                <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.gtn)}" th:text="${buldDetail.gtn}"></span>
                                                <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.gtn)}">-</span>
                                            </li>
                                            <li>
                                                <span>권리금</span>
                                                <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.premum)}" th:text="${buldDetail.premum}"></span>
                                                <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.premum)}">-</span>
                                            </li>
                                            <li>
                                                <span>임대료</span>
                                                <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.rntchrg)}" th:text="${buldDetail.rntchrg}"></span>
                                                <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.rntchrg)}">-</span>
                                            </li>
                                            <li>
                                                <span>관리비</span>
                                                <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.managect)}" th:text="${buldDetail.managect}"></span>
                                                <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.managect)}">-</span>
                                            </li>
                                            <li>
                                                <span>월매출</span>
                                                <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.price)}" th:text="${buldDetail.price}"></span>
                                                <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.price)}">-</span>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!-- 이미지/타이틀 [e] -->
                        <!-- 매물정보 [s] -->
                        <dl class="dl_info">
                            <dt class="open">매물정보</dt>
                            <dd>
                                <ul class="info_list">
                                    <li class="add">
                                        <div th:text="|${buldDetail.buldDc}|" style="white-space: pre-wrap;"></div>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <!-- scr_area [e] -->
                </div>
            </div>
            <div class="pop_footer full">
                <button id="inquiryTelNo1" class="btn_cm mint">📞문의(010-4455-2690)</button>
                <button id="inquiryTelNo2" class="btn_cm">☎️문의(031-546-3535)</button>
            </div>
        </div>
        <div class="dim"></div>
        <script>
            const swiper = new Swiper('.swiper-main', {
                // Optional parameters
                loop: true,

                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                    type: "progressbar",
                },

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },

                // And if we need scrollbar
                // scrollbar: {
                //     el: '.swiper-scrollbar',
                // },
            });
        </script>
    </div>
</th:block>
</html>