<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var resultMessage = document.getElementById('resultMessage').value;
            if(resultMessage != null && resultMessage != '' && resultMessage != undefined)
                openAlertModal(resultMessage);
        });

        function updateBoard() {
            var boardPageInfoForm = document.getElementById('boardPageInfo');
            boardPageInfoForm.action = '/board/modifyBoard.do';
            boardPageInfoForm.submit();
        }

        function deleteBoard() {
            var boardPageInfoForm = document.getElementById('boardPageInfo');
            boardPageInfoForm.method = 'post';
            boardPageInfoForm.action = '/board/deleteBoard.do';
            boardPageInfoForm.submit();
        }

        function moveToBoardList() {
            document.getElementById('resultMessage').remove();
            document.getElementById('boardId').remove();
            document.getElementById('boardPageInfo').submit();
        }
    </script>

    <div id="container" class="container">
        <form id="boardPageInfo" action="/board/selectBoardList.do" method="get">
            <input type="hidden" id="boardId" name="boardId" th:value="${boardInfo.boardId}">
            <input type="hidden" id="resultMessage" name="resultMessage" th:value="${boardInfo.resultMessage}">
            <input type="hidden" id="recordUnit" name="recordUnit" th:value="${boardInfo.recordUnit}">
            <input type="hidden" id="nowPage" name="nowPage" th:value="${boardInfo.nowPage}">
            <input type="hidden" id="pageUnit" name="pageUnit" th:value="${boardInfo.pageUnit}">
            <input type="hidden" id="searchSe" name="searchSe" th:value="${boardInfo.searchSe}">
            <input type="hidden" id="searchKeyword" name="searchKeyword" th:value="${boardInfo.searchKeyword}">

            <div class="lnb">
                <div class="lnb_inner">
                    <ul class="step">
                        <li>홈</li>
                        <li>커뮤니티</li>
                        <li>공지사항</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="content_inner">
                    <div class="titarea">
                        <h2>공지사항</h2>
                    </div>
                    <section>
                        <div class="box_line">
                            <div class="line_tit cb">
                                <div class="fl">
                                    <span class="label_blue">[기타]</span>
                                    <span th:text="${board.title}"></span>
                                </div>
                                <div class="fr">
                                    <span th:text="${board.displayRegistDt}"></span>
                                </div>
                            </div>
                            <div class="line_cont">
                                <div th:text="${board.content}" style="white-space: pre-wrap;"></div>
                            </div>
                            <div class="line_btn cb">
                                <div class="fr">
                                    <a href="#" class="btn_cm" onclick="updateBoard()">글수정</a>
                                    <a href="#" class="btn_cm" onclick="openConfirmModal('게시글을 삭제하시겠습니까?', 'deleteBoard')">글삭제</a>
                                    <a href="#" class="btn_cm gray" onclick="moveToBoardList()">목록</a>
                                </div>
                            </div>
                        </div>
                        <div class="box_line">
                            <div class="line_grp">
                                <span>이전글</span>
                                <a href="#" class="link">신현재 부동산 오픈 이벤트</a>
                            </div>
                            <div class="line_grp">
                                <span>다음글</span>
                                <a href="#" class="link no">다음글이 없습니다.</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <a href="#" class="btn_top">TOP</a>
        </form>
    </div>
</th:block>
</html>