<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
    <script>
        function selectFile() {
            document.getElementById('selectedFiles').click();
        }

        function checkFile() {
            // 파일 최대 개수 검사
            if (!validateFileCount('selectedFiles', 'uploadFiles', 3))
                return;

            // input 요소에 파일 추가
            saveFileForUpload('selectedFiles', 'uploadFiles', 10 * 1024, 'image');

            // 파일 목록 추가
            showFiles();
        }

        function showFiles() {
            // 기존 파일 목록 삭제
            var ul = document.getElementById('uploadFileList');
            var lis = ul.getElementsByTagName('li');
            for (var i = lis.length; i > 0; i--) {
                lis[i - 1].remove();
            }

            // 파일 목록 추가
            var files = document.getElementById('uploadFiles').files;
            for (file of files) {
                var textNode = document.createTextNode(file.name + ' (' + byteFormatter(file.size) + ')');
                var span = document.createElement('span');
                span.appendChild(textNode);

                var a = document.createElement('a');
                a.setAttribute('href', '#');
                a.setAttribute('class', 'btn_del');
                a.setAttribute('onclick', 'deleteFile(this)');

                var li = document.createElement('li');
                li.appendChild(span);
                li.appendChild(a);

                ul.appendChild(li);
            }
        }

        function deleteFile(clickedATag) {
            // 파일 목록에서 제거
            var ul = document.getElementById('uploadFileList');
            var lis = ul.getElementsByTagName('li');
            var fileIndex = -1;
            for (var i = 0; i < lis.length; i++) {
                if (lis[i] == clickedATag.parentElement) {
                    fileIndex = i;
                    lis[i].remove();
                    break;
                }
            }

            // input 요소에서 파일 제거
            deleteFileFromInput('uploadFiles', fileIndex);
        }

        function formSubmit() {
            document.getElementById('uploadForm').submit();
        }
    </script>

    <div id="container" class="container">
        <form id="uploadForm" action="/board/fileUploadTest.do" method="post" enctype="multipart/form-data">
            <div class="lnb">
                <div class="lnb_inner">
                    <ul class="step">
                        <li>홈</li>
                        <li>파일 업로드</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="content_inner">
                    <div class="titarea">
                        <h2>파일 업로드</h2>
                    </div>
                    <section>
                        <article>
                            <div class="tit_tb">
                                <div class="fr">
                                  <span><span class="cl_orange">*</span> 표시가 있는 항목은 필수로 입력하셔야 합니다.</span>
                                </div>
                            </div>
                            <div class="tbbox">
                                <table class="tb type2">
                                    <colgroup>
                                        <col style="width:260px"/>
                                        <col/>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th><span>첨부서류</span></th>
                                        <td>
                                            <div class="ly_grp">
                                                <a href="#" class="btn_df" onclick="selectFile()">파일첨부</a>
                                                <input type="file" multiple="multiple" id="selectedFiles"
                                                       onchange="checkFile()" style="display: none;">
                                                <input type="file" multiple="multiple" id="uploadFiles"
                                                       name="uploadFiles" style="display: none;">
                                                <ul id="uploadFileList" class="ipt_file" style="width: 700px;"></ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </article>
                        <div class="btnbox cb">
                            <a href="#" class="btn_cm mint" onclick="formSubmit()">업로드</a>
                        </div>
                    </section>
                </div>
            </div>
            <a href="#" class="btn_top">TOP</a>
        </form>
    </div>
</th:block>
</html>