<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>파일 업로드</title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/all.css" />
    <link rel="stylesheet" href="../css/jquery-ui.min.css" />

    <script type="text/javascript" src="../js/util.js"></script>
    <script type="text/javascript" src="../js/jquery-3.5.1.min.js"></script>
    <script>
        function checkFile() {
            if(!validateFileCount('selectedFiles', 'uploadFiles', 3))
                return;

            saveFileForUpload('selectedFiles', 'uploadFiles', 10 * 1024, 'image');
        }
    </script>

</head>
<body>
    <div class="container">
        <form action="/board/fileUploadTest.do" method="post" enctype="multipart/form-data">

        <div class="py-5 text-center">
            <h2>파일 업로드</h2>
        </div>

        <h4 class="mb-3">파일 추가</h4>
            <input type="file" multiple="multiple" id="selectedFiles" onchange="checkFile()">
            <input type="file" multiple="multiple" id="uploadFiles" name="uploadFiles" style="display: none;">
            <p style="height: 10px;"></p>
            <input type="submit"/>
        </form>
    </div>
    <div th:replace="~{fragments/alert :: alertBox}"></div>
</body>
</html>