<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>JS Test</title>

    <script type="text/javascript" src="../js/util.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            document.getElementById('text').focus();
        });

        function keyUpEvent() {
            if(window.event.keyCode == 13) {
                checkResult();
            }
        }

        function checkResult() {
            var text = document.getElementById('text').value;
            var result1 = lpad(text, 4, '0');
            var result2 = rpad(text, 4, '0');
            document.getElementById('result1').innerText = result1;
            document.getElementById('result2').innerText = result2;
        }

        function copyText() {
            var text = document.getElementById('result1').innerText;
            copyToClipboard(text);
        }
    </script>
</head>
<body>
    <div class="container">
        <input type="text" id="text" value="" onkeyup="keyUpEvent()">
        <button type="button" onclick="checkResult()">확인</button>
        <button type="button" onclick="copyText()">복사</button>
        <p id="result1"></p>
        <p id="result2"></p>
    </div>
</body>
</html>