<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footerFragment">
    <footer class="footer">
        <div class="footer_inner">
<!--            <div class="foot_logo">-->
<!--                <img src="../image/logo.png" style="width:80px;"/>                               -->
<!--            </div>-->
            <div class="foot_info">
                <address>상호:&nbsp;세움부동산중개법인(주)&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;대표:&nbsp;장진아&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;사업자등록번호:&nbsp;324-87-01959</address>
                <div class="foot_num">
                    <span>TEL:&nbsp;010-4455-2690 / 031-546-3535</span>
                    <span>FAX:&nbsp;031-203-3535</span>
                    <span>E-mail:&nbsp;seumgolf@naver.com</span>
                </div>
                <p>주소:&nbsp;경기도 수원시 영통구 망포로 136, A동 107호(망포동,플래티넘베이스)</p>
                <p class="copy">COPYRIGHT© ALL RIGHT RESERVED KOREAN ACCREDITATION BOARD OF SEUM</p>
<!--                <address>(16685) 경기도 수원시 영토구 망포로 136, A동 107호(망포동,플래티넘베이스)</address>-->
<!--                <address>세움부동산중개법인(주)</address>-->
<!--                <address>사업자 번호 : 324-87-01959 &nbsp;&nbsp;&nbsp; 대표자 : 장진아</address>-->
<!--                <div class="foot_num">-->
<!--                    <span>T : 010-4455-2690 / 031-546-3535</span>-->
<!--                    <span>F : 031-203-3536</span>-->
<!--                    <span>E : seumgolf@naver.com</span>-->
<!--                </div>-->
<!--                <p class="copy">COPYRIGHT© ALL RIGHT RESERVED KOREAN ACCREDITATION BOARD OF SEUM</p>-->
            </div>
            <div class="foot_util" style="display:none;">
                <ul>
                    <li><a href="#">서비스약관</a></li>
                    <li><a href="#">개인정보보호정책</a></li>
                    <li><a href="#">관련사이트</a></li>
                </ul>
            </div>
        </div>
    </footer>
</th:block>
</html>