<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer class="footer">
        <div class="footer_inner">
<!--            <div class="foot_logo">-->
<!--                <img src="../image/logo.png" style="width:80px;"/>                               -->
<!--            </div>-->
            <div class="foot_info">
                <address>(16685) 경기도 수원시 영통구 망포로 136 세움골프</address>
                <div class="foot_num">
                    <span>T : 010-5850-4864</span>
                    <span>F : 010-5850-4864</span>
                </div>
                <p class="copy">COPYRIGHT© ALL RIGHT RESERVED KOREAN ACCREDITATION BOARD OF SEUM</p>
            </div>
            <div class="foot_util">
                <ul>
                    <li><a href="#">서비스약관</a></li>
                    <li><a href="#">개인정보보호정책</a></li>
                    <li><a href="#">관련사이트</a></li>
                </ul>
            </div>
        </div>
    </footer>
</th:block>
</html>