<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="headerFragment">
    <script>
        document.addEventListener("DOMContentLoaded", function(){

        });
    </script>

    <header class="header">
        <div class="header_inner">
            <div class="header_top">
                <div class="util_box">
                    <ul>
                        <li class="mypage">
                            <a href="#">마이페이지</a>
                            <ul class="mypage_list"> 
<!--                                <li><a href="#">내 글 목록</a></li>-->
                                <li><a href="#">회원정보 수정</a></li>
<!--                                <li><a href="#">비밀번호 변경</a></li>-->
                            </ul>
                        </li>
                        <li sec:authentication="name">로그인한놈</li>
                        <li sec:authentication="principal.authorities">로그인한놈권한</li>
                        <li class="join"><a th:href="@{/join/getJoinPage.do}">회원가입</a></li>
                        <li class="login"><a th:href="@{/login/getLoginPage.do}">로그인</a></li>
                        <li class="logout"><a href="#">로그아웃</a></li>
                    </ul>
                </div>
            </div>
            <div class="header_gnb">
                <h1 class="logo"><a th:href="@{/main/main.do}">세움 골프</a></h1>
                <nav class="gnb_box">
                    <ul class="dep1">
                        <li><a href="#">매물검색</a></li>
<!--                        <li><a href="#">부동산 뉴스</a></li>-->
                        <li><a href="#">커뮤니티</a></li>
<!--                        <li><a href="#">관심목록</a></li>-->
<!--                        <li><a href="#">회사소개</a></li>-->
                    </ul>
                    <!-- <a class="site_map" href="#">사이트맵</a> -->
                    <div class="dep2_box">
                        <div class="dep2_inner">
                            <ul>
                                <li>
                                    <ul class="dep2">
                                        <li><a href="#">스크린골프</a></li>
                                        <li><a href="#">골프연습장</a></li>
                                        <li><a href="#">인도어연습장</a></li>
<!--                                        <li><a href="#">오피스텔</a></li>-->
<!--                                        <li><a href="#">상가</a></li>-->
<!--                                        <li><a href="#">사무실</a></li>-->
                                    </ul>
                                </li>
<!--                                <li>-->
<!--                                    <ul class="dep2">-->
<!--                                        <li><a href="#">분양정보</a></li>-->
<!--                                        <li><a href="#">분양일정</a></li>-->
<!--                                        <li><a href="#">브랜드관</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                                <li>
                                    <ul class="dep2">
                                        <li><a href="#">공지사항</a></li>
                                        <li><a href="#">찾아오시는 길</a></li>
                                    </ul>
                                </li>
<!--                                <li>-->
<!--                                    <ul class="dep2">-->
<!--                                        <li><a href="#">최근 본 방</a></li>-->
<!--                                        <li><a href="#">찜한 방</a></li>-->
<!--                                        <li><a href="#">즐겨찾기</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <ul class="dep2">-->
<!--                                        <li><a href="#">인사말</a></li>-->
<!--                                        <li><a href="#">회사 소개</a></li>-->
<!--                                        <li><a href="#">찾아오시는 길</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</th:block>
</html>