<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="headerFragment">
    <script>
        document.addEventListener("DOMContentLoaded", function(){

        });
    </script>

    <header class="header">
        <div class="header_inner">
            <div class="header_top">
                <div class="util_box">
                    <ul>
                        <li class="mypage" sec:authorize="isAuthenticated()" style="display: none">
                            <a href="#">마이페이지</a>
                            <ul class="mypage_list"> 
                                <li><a href="#">회원정보 수정</a></li>
                            </ul>
                        </li>

                        <li sec:authorize="isAnonymous()"></li>
                        <li sec:authorize="isAuthenticated()" sec:authentication="name">사용자명</li>

                        <li class="join" style="display: none"><a th:href="@{/join/getJoinPage.do}">회원가입</a></li>
                        <li class="login" sec:authorize="!isAuthenticated()"><a th:href="@{/login/getLoginPage.do}">관리자로그인</a></li>
                        <li class="logout" sec:authorize="isAuthenticated()"><a th:href="@{/login/getLogout.do}">로그아웃</a></li>
                    </ul>
                </div>
            </div>
            <div class="header_gnb">
                <h1 class="logo"><a th:href="@{/main/main.do}">세움 골프</a></h1>
                <nav class="gnb_box">
                    <ul class="dep1">
                        <li><a href="/buld/selectBuldList.do?selectedSaleSeCds=A00025">스크린골프</a></li>
                        <li><a href="/buld/selectBuldList.do?selectedSaleSeCds=A00026">골프연습장</a></li>
                        <li style="display: none"><a href="/buld/selectBuldList.do?selectedSaleSeCds=A00027">인도어연습장</a></li>
                        <li><a href="/inquiry/selectInquiryList.do">매도·매수 문의</a></li>
                        <li><a href="/cntrctReview/selectBoardList.do">계약성공후기</a></li>
                        <li style="display: none"><a href="/companyInfo">오시는길</a></li>
                    </ul>
<!--                     <a class="site_map" href="#">사이트맵</a>-->
                    <div class="dep2_box" style="display: none">
                        <div class="dep2_inner">
                            <ul>
                                <li>
                                    <ul class="dep2">
                                        <li><a href="/board/selectBoardList.do">공지사항</a></li>
                                        <li><a href="#">골프장 직거래</a></li>
                                        <li><a href="/inquiry/selectInquiryList.do">매도·매수 문의</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <button class="btn_menu"><span></span><span></span><span></span></button>
        </div>
    </header>
</th:block>
</html>