<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
  <h1>joinTerm</h1>
  <input type="checkbox" id="check0" onchange="all_check(this)"/> 전체 체크하기
      <input type="checkbox" id="check1" /> 체크1
      <input type="checkbox" id="check2" /> 체크2
      <button type="button" onclick="is_checked()">회원가입</button>
</body>
</html>
<script>
    function checked(){
        alert("Asdfas");
    }

    function all_check(obj){

        $("#check1").prop("checked", obj.checked);
        $("#check2").prop("checked", obj.checked);

    }

    function is_checked(){
        const check1=document.getElementById('check1');
        const check2=document.getElementById('check2');

        if(!(check1.checked&&check2.checked)){
            alert("모든 항목에 동의 해주세요");
            if(!check1.checked){
                $("#check1").focus();
                return false;
            }
            else{
                $("#check2").focus();
                return false;
            }
        }

        location.href="/join/signUp.do";
    }


</script>