<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

<div class="wrap">
    <div class="skip">
        <a href="#">본문바로가기</a>
    </div>

    <div id="container" class="container bg_gray">
        <div class="content">
            <div class="lnb">
                <div class="lnb_inner">
                    <ul class="step">
                        <li>홈</li>
                        <li>로그인</li>
                    </ul>
                </div>
            </div>
            <div class="content_inner">
                <div class="titarea">
                    <h2>로그인5</h2>
                </div>
                <section class="w600">
                    <form th:action="@{/login_proc}" method="post">
                        <div class="box_login">
                            <input name="username" type="text" placeholder="아이디를 입력해주세요" required autofocus>
                            <input name="password" type="password" placeholder="비밀번호를 입력해주세요" required>
                            <a href="#" class="btn_login mint" type="submit">로그인</a>
                            <ul>
                                <li><a href="join.html">회원가입</a></li>
                                <li style="display: none"><a href="#">아이디/비밀번호 찾기</a></li>
                            </ul>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <a href="#" class="btn_top">TOP</a>
    </div>
</div>
</th:block>
</html>