<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            var resultMessage = document.getElementById('resultMessage').value;
            if (!isEmpty(resultMessage)) {
                openAlertModal(resultMessage);
            }
        });
    </script>
<!--    <div class="skip">-->
<!--        <a href="#">본문바로가기</a>-->
<!--    </div>-->

    <div id="container" class="container bg_gray">
        <div class="content">
            <div class="lnb">
                <div class="lnb_inner">
                    <ul class="step">
                        <li>홈</li>
                        <li>로그인</li>
                    </ul>
                </div>
            </div>
            <div class="content_inner">
                <div class="titarea">
                    <h2>로그인</h2>
                </div>
                <section class="w600">
                    <input type="hidden" id="resultMessage" name="resultMessage" th:value="${loginVo.resultMessage}">
                    <form th:action="@{/login/selectUser.do}" th:object="${loginForm}" method="post">
                        <div class="box_login">
                            <input name="userId" type="text" th:value="${loginVo.userId}" placeholder="아이디를 입력해주세요" required autofocus>
                            <input name="userPw" type="password" th:value="${loginVo.userPw}" placeholder="비밀번호를 입력해주세요" required>
                            <button class="btn_login mint" type="submit">로그인</button>
                            <ul>
                                <li><a th:href="@{/join/getJoinPage.do}">회원가입</a></li>
                                <li style="display: none"><a href="#">아이디/비밀번호 찾기</a></li>
                            </ul>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <a href="#" class="btn_top">TOP</a>
    </div>
</th:block>
</html>