<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
    <script>

    </script>

    <div id="container" class="container">
        <form id="inquiryPageInfo" action="/inquiry/selectInquiryList.do" method="get">
            <input type="hidden" id="boardId" name="boardId" th:value="${inquiryInfo.boardId}">
            <input type="hidden" id="resultMessage" name="resultMessage" th:value="${inquiryInfo.resultMessage}">
            <input type="hidden" id="recordUnit" name="recordUnit" th:value="${inquiryInfo.recordUnit}">
            <input type="hidden" id="nowPage" name="nowPage" th:value="${inquiryInfo.nowPage}">
            <input type="hidden" id="pageUnit" name="pageUnit" th:value="${inquiryInfo.pageUnit}">
            <input type="hidden" id="searchSeCd" name="searchSeCd" th:value="${inquiryInfo.searchSeCd}">
            <input type="hidden" id="searchKeyword" name="searchKeyword" th:value="${inquiryInfo.searchKeyword}">

            <div class="lnb">
                <div class="lnb_inner">
                    <ul class="step">
                        <li>홈</li>
                        <li>커뮤니티</li>
                        <li>매도·매수 문의</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="content_inner">
                    <div class="titarea">
                        <h2>매도·매수 문의</h2>
                    </div>
                    <section>
                        <div class="box_line">
                            <div class="line_tit cb">
                                <div class="fl">
                                    <span class="label_blue" th:text="'[' + ${inquiry.headerSeNm} + ']'"></span>
                                    <span th:text="${inquiry.title}"></span>
                                </div>
                                <div class="fr">
                                    <span th:text="${inquiry.displayRegistDt}"></span>
                                </div>
                            </div>
                            <div class="line_cont">
                                <div th:text="${inquiry.content}" style="white-space: pre-wrap;"></div>
                            </div>
                            <div class="line_btn cb">
                                <div class="fr">
                                    <a href="#" class="btn_cm" onclick="updateBoard()">글수정</a>
                                    <a th:if="${inquiryInfo.isPermitted}" href="#" class="btn_cm" onclick="openConfirmModal('게시글을 삭제하시겠습니까?', 'deleteBoard')">글삭제</a>
                                    <a href="#" class="btn_cm gray" onclick="moveToBoardList()">목록</a>
                                </div>
                            </div>
                        </div>
                        <div class="box_line">
                            <div class="line_grp">
                                <span>이전글</span>
                                <a href="#" class="link"
                                   th:onclick="|moveToOtherBoard(${inquiry.prevBoardId})|"
                                   th:classappend="${inquiry.prevBoardId <= 0} ? 'no'"
                                   th:text="${inquiry.prevBoardTitle}"></a>
                            </div>
                            <div class="line_grp">
                                <span>다음글</span>
                                <a href="#" class="link"
                                   th:onclick="|moveToOtherBoard(${inquiry.nextBoardId})|"
                                   th:classappend="${inquiry.nextBoardId <= 0} ? 'no'"
                                   th:text="${inquiry.nextBoardTitle}"></a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <a href="#" class="btn_top">TOP</a>
        </form>
    </div>
</th:block>
</html>