<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="password_modal_bg" id="passwordModalBox" th:fragment="passwordModalBox">
        <form action="" id="passwordModalForm" method="post">
            <div class="password_modal">
                <div class="password_modal_cont" id="passwordModalContent">
                    <div class="box_form">
                        <p class="tit">비밀번호</p>
                        <div>
                            <input type="password" id="passwordForCheck" maxlength="6">
                        </div>
                    </div>
                </div>
                <div class="password_modal_btn">
                    <a href="#" id="passwordModalConfirmButton" class="btn_cm blue" onclick="confirmPasswordModal()">확인</a>
                    <a href="#" id="passwordModalCancelButton" class="btn_cm" onclick="cancelPasswordModal()">취소</a>
                </div>
            </div>
        </form>

        <script>
            function onPasswordModal() {
                addClass('passwordModalBox', 'on');
            }

            function cancelPasswordModal() {
                removeClass('passwordModalBox', 'on');
            }
        </script>
    </div>
</body>
</html>