<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            // 처리 결과 알림
            var resultMessage = document.getElementById('resultMessage').value;
            if(!isEmpty(resultMessage)) {
                openAlertModal(resultMessage);
                document.getElementById('resultMessage').value = '';
            }

            // 금액 포매터 적용
            // formatPrice();
            formatPriceFull();

            // 필터 체크박스 처리
            unitFilter();
        });

        function keyUpEvent() {
            if(window.event.keyCode == 13) {
                selectBuldListByAjax();
            }
        }

        /* 금액 포매터 적용 */
        function formatPrice() {
            var priceComponents = document.getElementsByClassName('price');
            for(var priceComponent of priceComponents) {
                if(priceComponent.tagName.toUpperCase() != 'UL')
                    break;

                var lis = priceComponent.children;
                for(var li of lis) {
                    var price = li.children[1].innerHTML;
                    li.children[1].innerHTML = priceWonShortenFormatter(price);
                }
            }
        }

        /* 필터 체크박스 처리 */
        function unitFilter() {
            var selectedSaleSeCds = document.getElementById('selectedSaleSeCds').value;
            var saleSeCdInputs = document.getElementsByName('saleSeCdFilter');
            if(isEmpty(selectedSaleSeCds)) {
                for(var saleSeCdInput of saleSeCdInputs) {
                    saleSeCdInput.checked = true;
                }
                return;
            }

            var selectedSaleSeCdArray = selectedSaleSeCds.split(',');
            for(var saleSeCd of selectedSaleSeCdArray) {
                document.getElementById(saleSeCd).checked = true;
            }
        }

        /* 필터 항목 표출 */
        function filterBoxToggle() {
            var filterBoxClasses = document.getElementById('filterBox').classList;
            if(filterBoxClasses.contains('on'))
                filterBoxClasses.remove('on');
            else
                filterBoxClasses.add('on');
        }

        /* 필터 선택 */
        function onChangeFilter(event) {
            // 필터 선택 유효성 검사
            var saleSeCdInputs = document.getElementsByName('saleSeCdFilter');
            var notCheckedAll = true;
            for(saleSeCdInput of saleSeCdInputs) {
                if(saleSeCdInput.checked) {
                    notCheckedAll = false;
                    break;
                }
            }

            if(notCheckedAll) {
                openAlertModal("필터 항목을 1개 이상 선택해주시기 바랍니다.");
                event.target.checked = true;
                return;
            }

            // 매물 목록 재조회 - ajax
            selectBuldListByAjax();
        }

        /* 검색 버튼 클릭 */
        function searchBuld() {
            selectBuldListByAjax();
        }

        /* 매물 목록 재조회 - ajax */
        function selectBuldListByAjax() {
            // 필터값 세팅
            var saleSeCdInputs = document.getElementsByName('saleSeCdFilter');
            var selectedSaleSeCds = '';
            for(var i=0 ; i<saleSeCdInputs.length ; i++) {
                if(saleSeCdInputs[i].checked) {
                    if(selectedSaleSeCds.length > 0)
                        selectedSaleSeCds += ',' + saleSeCdInputs[i].value;
                    else
                        selectedSaleSeCds = saleSeCdInputs[i].value;
                }
            }
            document.getElementById('selectedSaleSeCds').value = selectedSaleSeCds;

            // 검색어 세팅
            var searchKeyword = document.getElementById('searchKeyword').value;

            // 매물 목록 재조회
            var data = {
                selectedSaleSeCds: selectedSaleSeCds
                , searchKeyword: searchKeyword
            }

            $.ajax({
                url: '/buld/selectBuldList.do'
                , type: 'POST'
                , contentType: 'application/json'
                , data: JSON.stringify(data)
                , cache: false
            }).done(function(fragment) {
                $("#landList").replaceWith(fragment);
                // formatPrice();
                formatPriceFull();
            });
        }

        /* 금액 포맷 적용 */
        function formatPriceFull() {
            var priceComponents = document.getElementsByClassName('price');
            for(var priceComponent of priceComponents) {
                if(priceComponent.tagName.toUpperCase() != 'UL')
                    break;

                var lis = priceComponent.children;
                for(var li of lis) {
                    var price = li.children[1].innerHTML;
                    li.children[1].innerHTML = priceWonUnitFormatter(price);
                }
            }
        }

        /* 매물 상세 팝업 open */
        function openBuldDetailPopup(buldNo) {
            // 매물 상세 조회
            var data = {
                buldNo: buldNo
            }

            $.ajax({
                url: '/buld/selectBuld.do'
                , type: 'POST'
                , contentType: 'application/json'
                , data: JSON.stringify(data)
                , cache: false
            }).done(function(fragment) {
                $("#exPop").replaceWith(fragment);
                document.getElementById('exPop').classList.add('on');
                formatPriceFull();
            }).always(function() {
                fn_callImport();
            });
        }

        /* ajax 후 다시 세팅 */
        function fn_callImport() {
            var $exPop = $("#exPop");
            $exPop.addClass("on");

            var $popClose = $(".btn_close");
            $popClose.click(function (e) {
                e.preventDefault();
                $exPop.removeClass("on");
            });

            var $exAlertBtn = $(".exAlertBtn");
            var $alertBox = $("#alertBox");
            var $exAlertClose = $(".alert .btn_cm");

            $exAlertBtn.click(function (e) {
                e.preventDefault();
                $alertBox.addClass("on");
            });
            $exAlertClose.click(function (e) {
                e.preventDefault();
                $alertBox.removeClass("on");
            });

            const swiper = new Swiper('.swiper-main', {
                // Optional parameters
                loop: true,

                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                    type: "progressbar",
                },

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
            });
        }

        function openInquiryTelNoPopup() {
            openAlertModal("해당 매물번호에 대하여 아래 번호로 문의주시면 감사하겠습니다. \n\n 010-4455-2690 \n\n 031-546-3535");
        }

        function call(type) {
            var elementId = "#call" + type;
            $(elementId).trigger("click");
        }

        /* 매물 등록 */
        function registerBuld() {
            formSubmit('', '/buld/registerBuld.do');
        }

        /* 매물 수정 */
        function updateBuld() {
            var buldNo = document.getElementById('buldDetailBuldNo').value;
            formSubmit(buldNo, '/buld/modifyBuld.do');
        }

        /* 매물 삭제 */
        function deleteBuld() {
            var buldNo = document.getElementById('buldDetailBuldNo').value;
            var data = {
                buldNo: buldNo
            }

            $.ajax({
                url: '/buld/deleteBuld.do'
                , type: 'POST'
                , contentType: 'application/json'
                , data: JSON.stringify(data)
                , success: function (result) {
                    if(result.resultCode != '999') {
                        // 팝업창 닫기
                        document.getElementById('exPop').classList.remove('on');
                        // 목록 재조회
                        selectBuldListByAjax();
                    }

                    openAlertModal(result.resultMessage);
                }
            });
        }

        /* form 전송 */
        function formSubmit(buldNo, action) {
            document.getElementById('buldNo').value = buldNo;

            var form = document.getElementById('buldPageInfo');
            form.action = action;
            form.submit();
        }
    </script>

    <style>
        .seLine { position: absolute; top: 180px; left: 0; right: 0; display: flex; border-bottom: 1px solid #e1e1e1; }
        .filter_box { position: absolute; top: 60px; border: 1px solid #e1e1e1; background: white; z-index: 1; display: none; }
        .filter_box.on { display: block; }
        .filter_box div { padding: 20px 30px 20px 20px; border-top: 1px solid #e1e1e1; }
        .filter_box div:first-child { border-top: none; }
        .filter_box div p { font-weight: bold; padding-bottom: 5px; font-size: 17px; }
        .chk.list li { display: inline-block; margin-top: 6px; }
        .btn_cm.mint.square {
            height: 40px; line-height: 40px; width: 100px; min-width: 100px; margin-left: 10px; border-radius: 0;
        }
    </style>

    <div id="container" class="container list">
        <form action="/buld/selectBuldList.do" id="buldPageInfo" method="get">
            <input type="hidden" id="resultMessage" name="resultMessage" th:value="${buldInfo.resultMessage}">
            <input type="hidden" id="buldNo" name="buldNo">
            <div class="content">
                <div class="content_inner">
                    <div id="landHd">
                        <!-- 버튼 -->
                        <div class="right_btns">
                            <button type="button" class="r_btn" onclick="filterBoxToggle()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-list">
                                    <line x1="8" y1="6" x2="21" y2="6"></line>
                                    <line x1="8" y1="12" x2="21" y2="12"></line>
                                    <line x1="8" y1="18" x2="21" y2="18"></line>
                                    <line x1="3" y1="6" x2="3.01" y2="6"></line>
                                    <line x1="3" y1="12" x2="3.01" y2="12"></line>
                                    <line x1="3" y1="18" x2="3.01" y2="18"></line>
                                </svg>
                            </button>
                            <!-- 필터 -->
                            <div class="filter_box" id="filterBox">
                                <div>
                                    <p>매물유형</p>
                                    <ul class="chk list" id="saleSeCdFilter">
                                        <li th:each="saleSeCd, saleSeCdStat : ${saleSeCds}">
                                            <input type="checkbox" th:id="${saleSeCd.cd}" th:value="${saleSeCd.cd}" name="saleSeCdFilter" onchange="onChangeFilter(event)">
                                            <label th:for="${saleSeCd.cd}" th:text="${saleSeCd.cdNm}"></label>
                                        </li>
                                    </ul>
                                    <input type="hidden" id="selectedSaleSeCds" name="selectedSaleSeCds" th:value="${buldInfo.selectedSaleSeCds}">
                                </div>
                            </div>
                        </div>
                        <!-- 필터 -->
                        <div class="filter_wrap"></div>
                        <!-- 검색 -->
                        <div class="sch_wrap">
                            <input type="text" autocomplete="off" id="searchKeyword" name="searchKeyword" class="sh_input"
                                   placeholder="매물번호 및 건물명 검색" th:value="${buldInfo.searchKeyword}" onkeyup="keyUpEvent()">
                            <button type="button" class="sch_btn" onclick="searchBuld()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-search">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                            </button>
                        </div>
                        <a th:if="${buldInfo.isPermitted}" href="#" class="btn_cm mint square" onclick="registerBuld()">매물등록</a>
                    </div>
                    <div class="seLine"></div>
                    <section id="sh_section" class="landList">
                        <div id="landList" style="display: block;">
                            <ul class="item_list">
                                <!-- 매물 목록 (반복부) -->
                                <li class="land_list" th:each="buld : ${buldList}">
                                    <a href="#" th:onclick="openBuldDetailPopup([[${buld.buldNo}]])">
                                        <div th:if="${buld.atchFiles == null or #lists.size(buld.atchFiles) == 0}" class="noImg">
                                            <p class="noImgTxt">이미지 준비 중입니다.</p>
                                        </div>
                                        <div th:if="${buld.atchFiles != null and #lists.size(buld.atchFiles) != 0}" class="img">
                                            <img th:each="atchFile, atchFileStat : ${buld.atchFiles}"
                                                 th:if="${atchFileStat.index} == 0"
                                                 th:src="|/file/image/${atchFile.atchFileId}|"
                                                 height="235"/>
                                            <p th:if="${buld.cntrctSttusSeCd == 'A00006'}" class="soldTxt">[[${buld.cntrctSttusSeNm}]]</p>
                                        </div>
                                    </a>
                                    <div class="info">
                                        <div class="tip">
                                            <div class="badge_wrap">
                                                <img th:if="${buld.logoTy} == '1'" src="../image/img_smallLogo1.png" alt="">
                                                <img th:if="${buld.logoTy} == '2'" src="../image/img_smallLogo2.png" alt="">
                                                <img th:if="${buld.logoTy} == '3'" src="../image/img_smallLogo3.png" alt="">
                                                <img th:if="${buld.logoTy} == '5'" src="../image/img_smallLogo5.png" alt="">
                                                <img th:if="${buld.emrgncySaleYn} == 'Y'" src="../image/img_quick.png" alt="">
                                            </div>
<!--                                            <p th:text="|매물번호 ${buld.buldNo}|"></p>-->
                                        </div>
                                        <a href="#" th:onclick="openBuldDetailPopup([[${buld.buldNo}]])">
                                            <div class="tit">
                                                <p class="desc" th:text="${buld.buldNm}"></p>
                                                <p class="desc" th:text="${buld.reprsntWords}"></p>
<!--                                                <p class="loca">-->
<!--                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>-->
<!--                                                    <span th:text="|${buld.addr} ${buld.detailAddr == null ? '' : buld.detailAddr}|" style="font-size: 15px; color: rgb(153, 153, 153);"></span>-->
<!--                                                </p>-->
                                            </div>
                                        </a>
                                    </div>
                                    <ul class="price">
                                        <li>
                                            <p>보증금</p>
                                            <p th:if="${not #strings.isEmpty(buld.gtn)}" th:text="${buld.gtn}"></p>
                                            <p th:if="${#strings.isEmpty(buld.gtn)}">-</p>
                                        </li>
                                        <li>
                                            <p>임대료</p>
                                            <p th:if="${not #strings.isEmpty(buld.rntchrg)}" th:text="${buld.rntchrg}"></p>
                                            <p th:if="${#strings.isEmpty(buld.rntchrg)}">-</p>
                                        </li>
<!--                                        <li>-->
<!--                                            <p>관리비</p>-->
<!--                                            <p th:if="${not #strings.isEmpty(buld.managect)}" th:text="${buld.managect}"></p>-->
<!--                                            <p th:if="${#strings.isEmpty(buld.managect)}">-</p>-->
<!--                                        </li>-->
                                        <li>
                                            <p class="pRed">권리금</p>
                                            <p th:class="pRed" th:if="${not #strings.isEmpty(buld.premum)}" th:text="${buld.premum}"></p>
                                            <p th:if="${#strings.isEmpty(buld.premum)}">-</p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <a href="#" class="btn_top">TOP</a>
        </form>
    </div>

    <!-- 매물 상세 -->
    <div class="popup" id="exPop">
        <div class="pop_header">
            <h2>매물 상세</h2>
            <button type="button" class="btn_close">닫기</button>
        </div>
        <div class="pop_cont" id="landView">
            <div class="inner">
                <div class="scr_area">
                    <div class="top_info">
                        <!-- 이미지 -->
                        <div class="landImg">
                            <div class="badge_wrap"></div>
                            <div class="swiper-main">
                                <ul class="swiper-wrapper">
                                    <li class="swiper-slide" th:if="${buldDetail != null} and ${buldDetail.atchFiles != null and #lists.size(buldDetail.atchFiles) != 0}"
                                        th:each="atchFile : ${buldDetail.atchFiles}">
                                        <img th:src="|/file/image/${atchFile.atchFileId}|" height="325"/>
                                    </li>
                                </ul>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                        <!-- 매물 정보 -->
                        <div class="titles">
                            <dl class="dl_info">
                                <input type="hidden" id="buldDetailBuldNo" th:value="${buldDetail.buldNo}">
                                <dt class="open">
                                    <li style="display: contents" th:switch="${buldDetail.logoTy}">
                                        <img th:case="1" src="../image/img_smallLogo1.png" alt="" style="width: 30px; height: 30px; margin-right: 8px;">
                                        <img th:case="2" src="../image/img_smallLogo2.png" alt="" style="width: 30px; height: 30px; margin-right: 8px;">
                                        <img th:case="3" src="../image/img_smallLogo3.png" alt="" style="width: 30px; height: 30px; margin-right: 8px;">
                                        <img th:case="5" src="../image/img_smallLogo5.png" alt="" style="width: 30px; height: 30px; margin-right: 8px;">
                                    </li >
                                    <li id="buldNm" th:text="${buldDetail.buldNm}" style="display: contents"></li>
                                </dt>
                                <dd>
                                    <ul class="info_list price">
                                        <li class="add">
                                            <span>총 창업비용</span>
                                            <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.gtn) or not #strings.isEmpty(buldDetail.premum)}" th:text="${buldDetail.gtn}+${buldDetail.premum}"></span>
                                            <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.gtn) and #strings.isEmpty(buldDetail.premum)}">-</span>
                                        </li>
                                        <li>
                                            <span>보증금</span>
                                            <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.gtn)}" th:text="${buldDetail.gtn}"></span>
                                            <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.gtn)}">-</span>
                                        </li>
                                        <li>
                                            <span>권리금</span>
                                            <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.premum)}" th:text="${buldDetail.premum}"></span>
                                            <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.premum)}">-</span>
                                        </li>
                                        <li>
                                            <span>임대료</span>
                                            <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.rntchrg)}" th:text="${buldDetail.rntchrg}"></span>
                                            <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.rntchrg)}">-</span>
                                        </li>
                                        <li>
                                            <span>관리비</span>
                                            <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.managect)}" th:text="${buldDetail.managect}"></span>
                                            <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.managect)}">-</span>
                                        </li>
                                        <li>
                                            <span>월매출</span>
                                            <span class="dt_span" th:if="${not #strings.isEmpty(buldDetail.price)}" th:text="${buldDetail.price}"></span>
                                            <span class="dt_span" th:if="${#strings.isEmpty(buldDetail.price)}">-</span>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <dl class="dl_info">
                        <!-- 매물 설명 -->
                        <dt class="open">건물설명</dt>
                        <dd>
                            <ul class="info_list">
                                <li class="add">
                                    <div th:text="|${buldDetail.buldDc}|" style="white-space: pre-wrap;"></div>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="pop_footer full" th:if="${buldDetail.isPermitted == true}">
            <button type="button" class="btn_cm mint" onclick="updateBuld()">수정</button>
            <button type="button" class="btn_cm" onclick="openConfirmModal('매물을 삭제하시겠습니까?', 'deleteBuld')">삭제</button>
        </div>
        <div class="pop_footer full" th:if="${buldDetail.isPermitted == false}">
            <button type="button" class="btn_cm mint" onclick="call('1')">문의(010-4455-2690)</button>
            <button type="button" class="btn_cm" onclick="call('2')">문의(031-546-3535)</button>
            <a id="call1" href="tel:010-4455-2690" style="display: none">010-4455-2690</a>
            <a id="call2" href="tel:031-546-3535" style="display: none">031-546-3535</a>
        </div>
    </div>
    <div class="dim"></div>
    <script>
        const swiper = new Swiper('.swiper-main', {
            // Optional parameters
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
                type: "progressbar",
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });
    </script>
</th:block>
</html>