<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            // 금액 포매터 적용
            formatPrice();
        });

        /* 금액 포매터 적용 */
        function formatPrice() {
            var priceComponents = document.getElementsByClassName('price');
            for(var priceComponent of priceComponents) {
                if(priceComponent.tagName.toUpperCase() != 'UL')
                    break;

                var lis = priceComponent.children;
                for(var li of lis) {
                    var price = li.children[1].innerHTML;
                    li.children[1].innerHTML = priceWonShortenFormatter(price);
                }
            }
        }
    </script>

    <div id="container" class="container list">
        <div class="content">
            <div class="content_inner">
                <div id="landHd">
                    <!-- 검색 -->
                    <div class="sch_wrap">
                        <input type="text" autocomplete="off" id="sch_kwd" class="sh_input"
                            placeholder="건물명 검색" onkeyup="text_search()"
                            value="">
                        <button type="submit" class="sch_btn" onclick="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-search">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </button>
                    </div>
                    <!-- 필터 -->
                    <div class="filter_wrap">
                        <!------- 매물종류 [s] -->
                        <div class="filter_area">
                            <div class="filter_btn"><button id="landSortRst" type="button">아파트,오피스텔,빌라,주택,원룸,상가,사무실
                                </button></div>
                            <div class="filter_detail land_sort" style="display: none;">
                                <div class="detail_inner">
                                    <div class="tit">
                                        <p>매물종류</p>
                                        중복선택이 가능합니다.
                                    </div>
                                    <ul class="ckbox_wrap scroll_area">
                                        <li><input type="checkbox" name="land_sort_ck" id="land_sort0"
                                                onclick="return search_select('sort')" value="아파트" checked=""><label
                                                for="land_sort0">아파트</label></li>
                                        <li><input type="checkbox" name="land_sort_ck" id="land_sort1"
                                                onclick="return search_select('sort')" value="오피스텔"
                                                checked=""><label for="land_sort1">오피스텔</label></li>
                                        <li><input type="checkbox" name="land_sort_ck" id="land_sort2"
                                                onclick="return search_select('sort')" value="빌라" checked=""><label
                                                for="land_sort2">빌라</label></li>
                                        <li><input type="checkbox" name="land_sort_ck" id="land_sort3"
                                                onclick="return search_select('sort')" value="주택" checked=""><label
                                                for="land_sort3">주택</label></li>
                                        <li><input type="checkbox" name="land_sort_ck" id="land_sort4"
                                                onclick="return search_select('sort')" value="원룸" checked=""><label
                                                for="land_sort4">원룸</label></li>
                                        <li><input type="checkbox" name="land_sort_ck" id="land_sort5"
                                                onclick="return search_select('sort')" value="상가" checked=""><label
                                                for="land_sort5">상가</label></li>
                                        <li><input type="checkbox" name="land_sort_ck" id="land_sort6"
                                                onclick="return search_select('sort')" value="사무실" checked=""><label
                                                for="land_sort6">사무실</label></li>
                                    </ul>
                                </div>
                                <button class="filter_close btm">적용</button>
                                <button class="filter_close top">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <!------- 매물종류 [e] -->
                        <!------- 거래유형 및 가격 [s] -->
                        <div class="filter_area">
                            <div class="filter_btn"><button id="landTypeRst" type="button">매매,전세,월세</button></div>
                            <div class="filter_detail land_type_price" style="display: none;">
                                <div class="detail_inner">
                                    <div class="tit">
                                        <p>거래유형</p>
                                        중복선택이 가능합니다.
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="clear">
                                                <div class="ckbox_wrap"><input name="land_type_ck" type="checkbox"
                                                        id="sale" onclick="return search_select('type')" value="매매"
                                                        checked=""><label id="saleOn" for="sale">매매</label></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="clear">
                                                <div class="ckbox_wrap"><input name="land_type_ck" type="checkbox"
                                                        id="rent" onclick="return search_select('type')" value="전세"
                                                        checked=""><label id="rentOn" for="rent">전세</label></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="clear">
                                                <div class="ckbox_wrap"><input name="land_type_ck" type="checkbox"
                                                        id="monthly" onclick="return search_select('type')"
                                                        value="월세" checked=""><label id="monthlyOn"
                                                        for="monthly">월세</label></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="tit">
                                        <p>가격</p>
                                    </div>
                                    <ul class="scroll_area price_area">
                                        <li id="sale_range_area" style="display: list-item;">
                                            <div class="clear">
                                                <p class="stit">매매가</p>
                                                <div class="values"><span id="val-lower-sale" class="sale_hide_area"
                                                        style="display: none;">0</span><span class="sale_hide_area"
                                                        style="display: none;"> ~ </span><span
                                                        id="val-upper-sale">무제한</span></div>
                                            </div>
                                            <div class="range_slier_wrap">
                                                <div id="rangeSlidersale"
                                                    class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                                                    <div class="noUi-base">
                                                        <div class="noUi-connects">
                                                            <div class="noUi-connect noUi-draggable"
                                                                style="transform: translate(0%, 0px) scale(1, 1);">
                                                            </div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                            style="transform: translate(-100%, 0px); z-index: 5;">
                                                            <div class="noUi-handle noUi-handle-lower"
                                                                data-handle="0" tabindex="0" role="slider"
                                                                aria-orientation="horizontal" aria-valuemin="0.0"
                                                                aria-valuemax="95000.0" aria-valuenow="0.0"
                                                                aria-valuetext="0">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                            style="transform: translate(0%, 0px); z-index: 4;">
                                                            <div class="noUi-handle noUi-handle-upper"
                                                                data-handle="1" tabindex="0" role="slider"
                                                                aria-orientation="horizontal" aria-valuemin="5000.0"
                                                                aria-valuemax="100000.0" aria-valuenow="100000.0"
                                                                aria-valuetext="100000">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="noUi-pips noUi-pips-horizontal">
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 0%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="0" style="left: 0%;">0</div>
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 50%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="50000" style="left: 50%;">5억</div>
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 100%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="100000" style="left: 100%;">무제한</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="rent_range_area">
                                            <div class="clear">
                                                <p class="stit">전세가/보증금</p>
                                                <div class="values"><span id="val-lower-rent" class="rent_hide_area"
                                                        style="display: none;">0</span><span class="rent_hide_area"
                                                        style="display: none;"> ~ </span><span
                                                        id="val-upper-rent">무제한</span></div>
                                            </div>
                                            <div class="range_slier_wrap">
                                                <div id="rangeSliderrent"
                                                    class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                                                    <div class="noUi-base">
                                                        <div class="noUi-connects">
                                                            <div class="noUi-connect noUi-draggable"
                                                                style="transform: translate(0%, 0px) scale(1, 1);">
                                                            </div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                            style="transform: translate(-100%, 0px); z-index: 5;">
                                                            <div class="noUi-handle noUi-handle-lower"
                                                                data-handle="0" tabindex="0" role="slider"
                                                                aria-orientation="horizontal" aria-valuemin="0.0"
                                                                aria-valuemax="47500.0" aria-valuenow="0.0"
                                                                aria-valuetext="0">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                            style="transform: translate(0%, 0px); z-index: 4;">
                                                            <div class="noUi-handle noUi-handle-upper"
                                                                data-handle="1" tabindex="0" role="slider"
                                                                aria-orientation="horizontal" aria-valuemin="2500.0"
                                                                aria-valuemax="50000.0" aria-valuenow="50000.0"
                                                                aria-valuetext="50000">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="noUi-pips noUi-pips-horizontal">
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 0%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="0" style="left: 0%;">0</div>
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 50%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="25000" style="left: 50%;">2억5,000만</div>
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 100%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="50000" style="left: 100%;">무제한</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="monthly_range_area">
                                            <div class="clear">
                                                <p class="stit">월세</p>
                                                <div class="values"><span id="val-lower-monthly"
                                                        class="monthly_hide_area"
                                                        style="display: none;">0</span><span
                                                        class="monthly_hide_area" style="display: none;"> ~
                                                    </span><span id="val-upper-monthly">무제한</span></div>
                                            </div>
                                            <div class="range_slier_wrap">
                                                <div id="rangeSlidermonthly"
                                                    class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                                                    <div class="noUi-base">
                                                        <div class="noUi-connects">
                                                            <div class="noUi-connect noUi-draggable"
                                                                style="transform: translate(0%, 0px) scale(1, 1);">
                                                            </div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                            style="transform: translate(-100%, 0px); z-index: 5;">
                                                            <div class="noUi-handle noUi-handle-lower"
                                                                data-handle="0" tabindex="0" role="slider"
                                                                aria-orientation="horizontal" aria-valuemin="0.0"
                                                                aria-valuemax="475.0" aria-valuenow="0.0"
                                                                aria-valuetext="0">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                            style="transform: translate(0%, 0px); z-index: 4;">
                                                            <div class="noUi-handle noUi-handle-upper"
                                                                data-handle="1" tabindex="0" role="slider"
                                                                aria-orientation="horizontal" aria-valuemin="25.0"
                                                                aria-valuemax="500.0" aria-valuenow="500.0"
                                                                aria-valuetext="500">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="noUi-pips noUi-pips-horizontal">
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 0%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="0" style="left: 0%;">0</div>
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 50%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="250" style="left: 50%;">250만</div>
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 100%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="500" style="left: 100%;">무제한</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <button class="filter_close btm">적용</button>
                                <button class="filter_close top"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg></button>
                            </div>
                        </div>
                        <!------- 거래유형 및 가격 [e] -->
                        <!------- 면적 [s] -->
                        <div class="filter_area">
                            <div class="filter_btn"><button type="button" id="landSpaceRst">면적</button></div>
                            <div class="filter_detail land_space" style="display: none;">
                                <div class="detail_inner">
                                    <div class="tit">
                                        <p>면적</p>
                                        전용면적/공급면적 조회가 가능합니다.
                                    </div>
                                    <ul class="scroll_area">
                                        <li>
                                            <div class="clear">
                                                <div class="stit">전용면적</div>
                                                <div class="values"><span id="val-lower-space1"
                                                        class="space1_hide_area"
                                                        style="display: none;">0</span><span
                                                        class="space1_hide_area" style="display: none;"> ~
                                                    </span><span id="val-upper-space1">무제한</span></div>
                                            </div>
                                            <div class="range_slier_wrap">
                                                <div id="rangeSliderspace1"
                                                    class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                                                    <div class="noUi-base">
                                                        <div class="noUi-connects">
                                                            <div class="noUi-connect noUi-draggable"
                                                                style="transform: translate(0%, 0px) scale(1, 1);">
                                                            </div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                            style="transform: translate(-100%, 0px); z-index: 5;">
                                                            <div class="noUi-handle noUi-handle-lower"
                                                                data-handle="0" tabindex="0" role="slider"
                                                                aria-orientation="horizontal" aria-valuemin="0.0"
                                                                aria-valuemax="145.0" aria-valuenow="0.0"
                                                                aria-valuetext="0">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                            style="transform: translate(0%, 0px); z-index: 4;">
                                                            <div class="noUi-handle noUi-handle-upper"
                                                                data-handle="1" tabindex="0" role="slider"
                                                                aria-orientation="horizontal" aria-valuemin="5.0"
                                                                aria-valuemax="150.0" aria-valuenow="150.0"
                                                                aria-valuetext="150">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="noUi-pips noUi-pips-horizontal">
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 0%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="0" style="left: 0%;">0</div>
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 50%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="75" style="left: 50%;">75㎡(23평)</div>
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 100%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="150" style="left: 100%;">무제한</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="clear">
                                                <div class="stit">공급면적</div>
                                                <div class="values"><span id="val-lower-space2"
                                                        class="space2_hide_area"
                                                        style="display: none;">0</span><span
                                                        class="space2_hide_area" style="display: none;"> ~
                                                    </span><span id="val-upper-space2">무제한</span></div>
                                            </div>
                                            <div class="range_slier_wrap">
                                                <div id="rangeSliderspace2"
                                                    class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                                                    <div class="noUi-base">
                                                        <div class="noUi-connects">
                                                            <div class="noUi-connect noUi-draggable"
                                                                style="transform: translate(0%, 0px) scale(1, 1);">
                                                            </div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                            style="transform: translate(-100%, 0px); z-index: 5;">
                                                            <div class="noUi-handle noUi-handle-lower"
                                                                data-handle="0" tabindex="0" role="slider"
                                                                aria-orientation="horizontal" aria-valuemin="0.0"
                                                                aria-valuemax="145.0" aria-valuenow="0.0"
                                                                aria-valuetext="0">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                        <div class="noUi-origin"
                                                            style="transform: translate(0%, 0px); z-index: 4;">
                                                            <div class="noUi-handle noUi-handle-upper"
                                                                data-handle="1" tabindex="0" role="slider"
                                                                aria-orientation="horizontal" aria-valuemin="5.0"
                                                                aria-valuemax="150.0" aria-valuenow="150.0"
                                                                aria-valuetext="150">
                                                                <div class="noUi-touch-area"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="noUi-pips noUi-pips-horizontal">
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 0%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="0" style="left: 0%;">0</div>
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 50%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="75" style="left: 50%;">75㎡(23평)</div>
                                                        <div class="noUi-marker noUi-marker-horizontal noUi-marker-large"
                                                            style="left: 100%;"></div>
                                                        <div class="noUi-value noUi-value-horizontal noUi-value-large"
                                                            data-value="150" style="left: 100%;">무제한</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <button class="filter_close btm">적용</button>
                                <button class="filter_close top"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg></button>
                            </div>
                        </div>
                        <!------- 면적 [e] -->
                    </div>
                </div>
                <section id="sh_section" class="landList">
                    <div id="landList" style="display: block;">
                        <ul class="item_list">
                            <!-- 매물 목록 (반복부) -->
                            <li class="land_list" th:each="buld : ${buldList}">
                                <a href="#" onclick="test()">
                                    <div th:if="${buld.atchFiles == null or #lists.size(buld.atchFiles) == 0}" class="noImg">
                                        <p class="noImgTxt">이미지 준비 중입니다.</p>
                                    </div>
                                    <div th:if="${buld.atchFiles != null and #lists.size(buld.atchFiles) != 0}" class="img">
                                        <img th:each="atchFile, atchFileStat : ${buld.atchFiles}"
                                             th:if="${atchFileStat.index} == 0"
                                             th:src="|/file/image/${atchFile.atchFileId}|"
                                             height="235"/>
                                    </div>
                                </a>
                                <div class="info">
                                    <div class="tip">
                                        <div class="badge_wrap">
                                            <img th:if="${buld.logoTy} == '1'" src="../image/img_smallLogo1.png" alt="">
                                            <img th:if="${buld.logoTy} == '2'" src="../image/img_smallLogo2.png" alt="">
                                            <img th:if="${buld.emrgncySaleYn} == 'Y'" src="../image/img_quick.png" alt="">
                                        </div>
                                        <p th:text="|매물번호 ${buld.buldNo}|"></p>
                                    </div>
                                    <a href="#" onclick="test()">
                                        <div class="tit">
                                            <p class="desc" th:text="${buld.buldNm}"></p>
                                            <p class="loca">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                <span th:text="|${buld.addr} ${buld.detailAddr}|" style="font-size: 15px; color: rgb(153, 153, 153);"></span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <ul class="price">
                                    <li>
                                        <p>보증금</p>
                                        <p th:if="${not #strings.isEmpty(buld.gtn)}" th:text="${buld.gtn}"></p>
                                        <p th:if="${#strings.isEmpty(buld.gtn)}">-</p>
                                    </li>
                                    <li>
                                        <p>임대료</p>
                                        <p th:if="${not #strings.isEmpty(buld.rntchrg)}" th:text="${buld.rntchrg}"></p>
                                        <p th:if="${#strings.isEmpty(buld.rntchrg)}">-</p>
                                    </li>
                                    <li>
                                        <p>관리비</p>
                                        <p th:if="${not #strings.isEmpty(buld.managect)}" th:text="${buld.managect}"></p>
                                        <p th:if="${#strings.isEmpty(buld.managect)}">-</p>
                                    </li>
                                    <li>
                                        <p>권리금</p>
                                        <p th:if="${not #strings.isEmpty(buld.premum)}" th:text="${buld.premum}"></p>
                                        <p th:if="${#strings.isEmpty(buld.premum)}">-</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <a href="#" class="btn_top">TOP</a>
    </div>

    <!-- 매물 상세 -->
    <div class="popup" id="exPop">
        <div class="pop_header">
            <h2>추천매물 - 매물01</h2>
            <button class="btn_close">닫기</button>
        </div>
        <div class="pop_cont" id="landView">
            <div class="inner">
                <!-- scr_area [s] -->
                <div class="scr_area">
                    <!-- 이미지/타이틀 [s] -->
                    <div class="top_info">
                        <div class="landImg">
                            <div class="badge_wrap">
                                <span class="badge black">추천</span> <span class="badge black">급매물</span> <span
                                    class="badge">리모델링</span>
                            </div>
                            <div class="swiper-main">
                                <ul class="swiper-wrapper">
                                    <li class="swiper-slide"><img src="../image/temp_img2.jpg"
                                            alt="송내 로데오 상가 이미지1"></li>
                                    <li class="swiper-slide"><img src="../image/temp_img3.jpg"
                                            alt="송내 로데오 상가 이미지2"></li>
                                    <li class="swiper-slide"><img src="../image/temp_img3.jpg"
                                            alt="송내 로데오 상가 이미지2"></li>
                                </ul>
                                <div class="swiper-pagination"></div>

                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>

                                <!-- <div class="swiper-scrollbar"></div> -->
                            </div>

                        </div>
                        <div class="titles">
                            <div class="tip">
                                <span>매물번호10099</span>
                            </div>
                            <div class="tit">
                                <p class="price">
                                    <span>매</span>9억8,000
                                </p>
                                <p class="desc">송내 로데오 상가</p>
                                <p class="loca">경기 부천시 송내동 303-5 2층</p>
                            </div>
                            <div class="kwd">
                                <span>상가</span>
                                <span>공급면적717㎡</span>
                            </div>
                            <div class="ps">송내 로데오 상가 입니다.</div>
                        </div>
                    </div>
                    <!-- 이미지/타이틀 [e] -->
                    <!-- 매물정보 [s] -->
                    <dl class="dl_info">
                        <dt class="open">매물정보</dt>
                        <dd>
                            <ul class="info_list">
                                <li class="add"><span>소재지</span>경기 부천시 송내동 303-5 2층</li>
                                <li><span>매물번호</span>10099</li>
                                <li><span>매물구분</span>상가</li>
                                <li><span>계약상태</span>계약가능</li>
                                <li>
                                    <span>가격정보</span>
                                    매매 9억8,000
                                </li>
                                <li><span>해당층/총층</span>7층/지하1층</li>
                                <li><span>공급면적</span>717㎡(217평)</li>
                                <li><span>전용면적</span>717㎡(217평)</li>
                                <li><span>준공년도</span>2006년</li>
                                <li><span>입주일자</span>협의 후 가능</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <!-- scr_area [e] -->
            </div>
        </div>
        <div class="pop_footer full">
            <button class="btn_cm mint">문의하기</button>
            <button class="btn_cm">고객센터(1588-1588)</button>
        </div>
    </div>
    <div class="dim"></div>
    <script>
        const swiper = new Swiper('.swiper-main', {
            // Optional parameters
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
                type: "progressbar",
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });
    </script>
</th:block>
</html>